<div class="container-sm">
    <div class="row">
        <div class="col-12 mt-4">
            <h1>My Todo List</h1>
            <p>Hi {{ user.name }}<br><a href="#" (click)="logout()">Click here to Log Out!</a></p>
            <app-todo-input></app-todo-input>
        </div>
        <div class="col-12">
            <app-todo-filter></app-todo-filter>
        </div>
        <div class="col-12">
            <app-todo-list></app-todo-list>
        </div>
    </div>
</div>
<ngx-ui-loader></ngx-ui-loader>