<form class="form row g-2" [formGroup]="form" (change)="submitFilter()">
    <div class="col-5">
        <input type="text" class="form-control" formControlName="description" placeholder="Filter by task name" (input)="submitFilter()">
    </div>
    <div class="col-7">
        <div class="form-check form-check-inline form-switch">
            <input class="form-check-input" type="radio" formControlName="status" id="toBeDone" value="1">
            <label for="toBeDone" class="form-check-label">To be done</label>
        </div>
        <div class="form-check form-check-inline form-switch">
            <input class="form-check-input" type="radio" formControlName="status" id="completed" value="2">
            <label for="completed" class="form-check-label">Completed</label>
        </div>
        <div class="form-check form-check-inline form-switch">
            <input class="form-check-input" type="radio" formControlName="status" id="all" value="3">
            <label for="all" class="form-check-label">All</label>
        </div>
    </div>
</form>