<div [ngClass]="{
        'd-flex': true,
        'justify-content-between' : true,
        'align-items-center' : true,
        'completed' : task.completed
     }">
    <span>{{ task.description }}</span>
    <div *ngIf="!task.completed; else completedTask">
        <button class="btn btn-sm btn-success" (click)="complete(true)">
            <em class="fa fa-user"></em>
            Complete
        </button>
    </div>
    <ng-template #completedTask>
        <div>
            <button class="btn btn-sm btn-warning me-2" (click)="complete(false)">
                <em class="fa fa-user"></em>
                Undo
            </button>
            <button class="btn btn-sm btn-danger m" (click)="remove()">
                <em class="fa fa-user"></em>
                Remove
            </button>
        </div>
    </ng-template>
</div>
