<div class="row g-2 mt-3">
    <div class="col-12" *ngIf="tasks.length; else noRegistersFound">
        <ul class="list-group">
            <li *ngFor="let task of tasks"
                class="list-group-item">
                <app-todo-item [task]="task"></app-todo-item>
            </li>
        </ul>
    </div>
    <ng-template #noRegistersFound>
        <div class="col-12 text-center mt-4">
            <small class="text-muted">No Registers Found</small>
        </div>
    </ng-template>
    
</div>
